@import url('https://fonts.googleapis.com/css?family=Roboto');

*{
  margin: 0;
  padding: 0;
  user-select: none;
}
body{
  font-family: "Roboto", sans-serif;
}
.container nav.desk,
.container nav.mob{
  width: 100%;
  background: #364a64;
  height: 60px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14);
  position: fixed;
  top: 0;
  left: 0;
}
nav.desk ul{
  list-style: none;
  width: 75%;
  height: 60px;
  margin: 0 auto;
}
nav.desk ul li{
  width: 20%;
  float: left;
  text-align: center;
  line-height: 60px;
  text-transform: uppercase;
  transition: all 0.5s ease;
}
nav ul li:hover{
  background: #a3ada5;
}
nav ul li.active{
  background: #a3ada5;
}
nav ul li a{
  color: #fff;
  text-decoration: none;
}
nav.mob,
.hamburger-btn{
  display: none;
}
.header{
  background: url("pass-wine.jpg") no-repeat center;
  background-size: cover;
  width: 100%;
  height: 500px;
  margin-top:60px;
  z-index: -1;
}
@media screen and (max-width: 700px){
  nav.desk{
    display: none;
  }
  nav.mob,
  .hamburger-btn{
    display: block;
  }
  .hamburger-btn{
    position: relative;
  }
  .hamburger-btn .fa-bars,
  .hamburger-btn .fa-times{
    position: fixed;
    right: 25px;
    top: 15px;
    font-size: 35px;
    color: #fff;
    cursor: pointer;
  }
  .mob ul{
    margin-top: 60px;
    background: #364a64;
    display: none;
    opacity: 0.8;
  }
  .mob li{
    text-transform: uppercase;
    text-align: center;
    padding: 20px;
    cursor: pointer;
  }
  .mob ul.active{
    display: block;
  }
}

















